/traefik/acme.json
/jason*/
/elg.gg/*
!/elg.gg/docker-compose.yml
/bl.elg.gg/*
!/bl.elg.gg/docker-compose.yml
/dav.elg.gg/*
!/dav.elg.gg/docker-compose.yml
!/dav.elg.gg/Dockerfile
!/dav.elg.gg/radicale-birthday-calendar/
!/dav.elg.gg/radicale-birthday-calendar/**
